* text=auto !eol
raisinpyramid/static/favicon.ico -text
raisinpyramid/static/footerbg.png -text
raisinpyramid/static/headerbg.png -text
raisinpyramid/static/middlebg.png -text
raisinpyramid/static/pyramid-small.png -text
raisinpyramid/static/pyramid.png -text
raisinpyramid/static/transparent.gif -text
